/* LAYOUT */
.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}
.content{
  padding-top: 1rem;
}
.big-logo{
  font-size:14rem;
  color: #414BB2;
}
.srb-overflow{
  overflow: auto;
}
.srb-4-block{
  border-color: #414BB2; 
  height: 45vh;
}


/* BACKGROUND */
.main-bg{
  background-color: #D8E7FF;
}
.second-bg{
  background-color: #F5F9FF;
}

/* FONT */
.main-color{
  color: #414BB2;
}
.logo-font{
  color: #414BB2;
  font-weight:900;
}
.title-font{
  color: #414BB2;
  font-weight:600;
}
.srb-icon{
  font-size:5rem;
}

/* BUTTON */
.main-btn{
  color: #414BB2;
  background-color: #D8E7FF;
  border-radius: 5rem;
}
.second-btn{
  color: #414BB2;
  background-color: #D8E7FF;
  border-color: #414BB2;
}
.to-detail-btn{
  color:#414BB2; 
  background-color:#F5F9FF; 
  border-color: #D8E7FF;
}

/* TABLE */
.main-table{
  color: #414BB2;
  border-color:#D8E7FF;
}

/* BORDER */
.main-radius{
  border-radius: 5rem;
}