form role="form" action="/courses/#{course.id}/assignments/#{assi.id}/move_course" method='post' id="changeCrs_#{index}"
  div class="form-group"
    button type='submit' class="btn btn-primary submit" id='change-course-form-submit' value='submit' Move
    button type="button" class="btn btn-secondary" data-bs-dismiss="modal" Cancel
